.banner{
    margin-top: 10vh;
    height: 80vh;
    margin-bottom: 80px;color: white;
    object-fit: contain;
}
.banner_contents{
    margin-left: 30px;
    padding-top: 300px;
    /* height: 190px; */
}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;

}
.banner_description{
    width: 45rem;
    line-height: 1;
    padding: 1rem;
    font-style: 1rem;
    min-width: 360px;
    height: 80px;
}
.banner_buttons button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 4px;
  /* transition: 0.3s ease, color 0.3s ease; */
}
/* .banner_buttons_play:hover {
  background-color: #e6e6e6;
} */
.banner_buttons button:hover {
  background-color: white;
  color: black;
}

.banner_buttons_play {
  /* Optional: make Play button look slightly different */
  border: 1px solid white;
}

.banner_fadeBottom {
    height: 40vh; /* thinner than 40vh */
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.1), /* lower opacity for transparency */
        #111
    );
}