/* App.css or index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
  --font-heading: 'Lexend', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-primary: #fff;
  --color-accent: #e50914;
  --color-background: #111;
}

*{
    margin: 0;
  padding: 0;
box-sizing: border-box;
}
body {
  /* font-family: var(--font-body); */
  background-color: var(--color-background);


}
